# Transpiled files
# line disabled because codecov needs the transpiled file to not 404  **/*.cjs.js
**/*.cjs.js.map

# NPM
node_modules

# Code Coverage
.nyc_output
coverage
coverage.json

# IDE
.vscode
v8.6.*.txt
jsconfig.json
